<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Proyecto <solid>CRUD</solid> (Creat , Read , Update and Delete), creado en HTML(Handlebars) , Bootstrap y Javascript para el FrontEnd,
        ademas de  utilizar NodeJs y MongoDB para el  manejo del servidor y la base de datos(BackEnd).
        </p>
    </div>
</section>