<div class="jumbotron mt-4">
    <h1 class="display-4">CRUD Nodejs-MongoDB</h1>
    <p class="lead">Aplicacion para la Creacion,Lectura,Actualizacion y Eliminacion de Notas.</p>
    <hr class="my-4">
    <p>En el siguiente link podras encontrar el repositorio de GitHub de la Aplicacion</p>
    <a href="https://github.com/felipe-gerula/CRUD-Nodejs" class="btn btn-primary">GitHub repository</a>
</div>