<div class="jumbotron mt-4">
    <h1 class="display-4">CRUD Nodejs-MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero velit a error harum quaerat natus delectus beatae dolorem quibusdam ipsam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium beatae laborum, illum molestias minus ducimus modi incidunt labore pariatur facere.</p>
    <a href="https://github.com/felipe-gerula/CRUD-Nodejs" class="btn btn-primary">GitHub repository</a>
</div>